.App {
  display: flex;
}

.content {
  transition: margin-left 0.5s;
  padding: 20px;
  margin-left: 0;
}

.contentShift {
  transition: margin-left 0.5s;
  margin-left: 250px;
}

/* Add additional styling as needed */
